
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(200, 200, 247);
}

@media (min-width:360px) {
    body {
        background-image: url("images/home-cinema-rafiki-360.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (min-width:768px) {
    body {
        background-image: url("images/home-cinema-rafiki-768.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (min-width:992px) {
    body {
        background-image: url("images/home-cinema-rafiki-992.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (min-width:1200px) {
    body {
        background-image: url("images/home-cinema-rafiki-1200.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.container-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: transparent;
    padding: 20px;
    gap: 10px;
    height: 100vh;
    border: 2px solid red;
}

.container-grid > div {
    display: grid;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    font-family: 'Bruno Ace SC', 'cursive';
    background-color: transparent;
    
}

.container-grid > header {
    grid-column: 1/7;
    font-size: 20px;
    text-align: center;
    font-family: 'Bruno Ace SC', 'cursive';
    border: 2px solid black;
    background-color: transparent;
}

.wrapper {
    margin-top: 50px;
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    border: 2px solid yellow;
}

#cad-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    background-color: rgb(255,255,255, 0.4);
    border: 2px solid green;
}

#edit-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    grid-column: auto;
    align-items: center;
    background-color: rgb(255,255,255, 0.4);
    border: 2px solid blue;
}

#search-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    grid-column: auto;
    align-items: center;
    background-color: rgb(255,255,255, 0.4);
    border: 2px solid yellowgreen;
}

#result-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    grid-column: auto;
    background-color: rgb(255,255,255, 0.4);
    border: 2px solid chocolate;
}

textarea {
    height: 70%;
    width: 80%;
    background-color: rgba(143, 143, 228, 0.5);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
}

input {
    width: 70%;
}

button:hover {
    text-decoration: none;
    color: #FF725E;
    background-color: black;
    transition: 0.2s;
}

#rdp {
    grid-area: 5 / 1 / span 1 / span 6;
    font-size: 25px;
    text-align: center;
    height: 20px;
    padding: 10px;
    margin-top: 190px;
    background-color: rgb(255,255,255, 0.4);
    
}